.collapse.navbar-collapse.pull-right{ng: {controller: 'SessionController'}}
  %ul.nav.navbar-nav
    %li{ng: {hide: 'user.signedIn'}}
      %a{href: '#/signin'} Sign in
    %li{ng: {hide: 'user.signedIn'}}
      %a{href: '#/signup'} Sign up
    %li{ng: {show: 'user.signedIn'}}
      %a{href: '', ng: {click: 'handleSignOutBtnClick()'}} Sign out
