.col-md-6.col-md-offset-3
  %div{ui: {sortable: 'sortableOptions'}, ng: {model: 'projects'}}
    .panel.panel-primary{ng: {repeat: 'project in projects'}}
      .panel-heading{id: 'project-{{project.id}}', ng: {mouseover: 'optionsProject = true', mouseleave: 'optionsProject = false'}}
        .panel-title
          %span.glyphicon.glyphicon-calendar
          %span.view{ng: {dblclick: 'projectEdit()'}}
            {{project.title}}
          %input.form-control.input-sm.edit{id: 'edit-project', type: 'text', ng: {model: 'project.title', keyup: 'editProjectOnEnter(project)'}}
          .pull-right.project-options{ng: {show: 'optionsProject'}}
            %span.glyphicon.glyphicon-pencil{id: 'edit-project-{{project.id}}', ng: {click: 'toggleProjectEdit()'}}
            %span.glyphicon.glyphicon-move
            %span.glyphicon.glyphicon-trash{id: 'del-project-{{project.id}}', ng: {click: 'deleteProject(project.id)'}}
      .new-task{ng: {class: "{'empty-project':project.tasks.length == 0}"}}
        %form{name: 'taskForm', ng: {controller: 'TaskController as taskCtrl', submit: 'submitTask(project.id)'}, novalidate: true}
          .input-group.input-group-sm
            %input.form-control{id: 'new-task', type: 'text', placeholder: 'Start typing here to create a task...', ng: {model: 'taskData.title'}, required: true}
            .input-group-btn
              %button.btn.btn-success Add task
      %table.table{ng: {controller: 'TaskController as taskCtrl'}}
        %tbody{ui: {sortable: 'sortableOptions'}, ng: {model: 'project.tasks'}}
          %tr{id: 'task-{{task.id}}', ng: {repeat: "task in project.tasks | orderBy: 'complete'", mouseover: 'optionsTask = true', mouseleave: 'optionsTask = false', class: "{'not-sortable':task.complete}"}}
            %td.complete
              %input{type: 'checkbox', ng: {model: 'task.complete', click: 'updateTask(task)'}}
            %td.task-title
              .input-group-sm
                %span.view{ng: {dblclick: 'taskEdit()'}}
                  {{task.title}}
                  %sup {{(task.due_date|date:'yyyy-MM-dd')}}
                %input.form-control.input-sm.edit{id: 'edit-task', type: 'text', ng: {model: 'task.title', keyup: 'editTaskOnEnter(task)'}}
              %div.comments{ng: {controller: 'CommentController as CommentCtrl'}}
                %div.comment{id: "comment-{{comment.id}}", ng: {repeat: 'comment in task.comments', mouseover: 'optionsComment = true', mouseleave: 'optionsComment = false'}}
                  {{comment.body}}
                  .pull-right{ng: {show: 'optionsComment'}}
                    %span.delete{id: "del-comment-{{comment.id}}", ng: {click: 'deleteComment(comment)'}} &times;
                %div.new-comment
                  %form{name: 'commentForm', ng: {submit: 'submitComment(task)'}, novalidate: true}
                    %textarea.form-control.input-sm{id: 'new-comment', type: 'text', placeholder: 'Start type new comment...', ng: {model: 'commentData.body'}, required: true}
                    %button.pull-right.btn.btn-sm.btn-success Add comment
                    %button.btn.btn-sm.btn-primary Attach file
            %td.options-task
              %div.dropdown{ng: {show: 'optionsTask'}}
                %span.glyphicon.glyphicon-pencil{id: 'edit-task-{{task.id}}', ng: {click: 'toggleTaskEdit()'}}
                %span.glyphicon.glyphicon-comment{id: 'comment-task-{{task.id}}', ng: {click: 'toggleComments()'}}
                %span.glyphicon.glyphicon-time.dropdown-toggle{id: 'due-task-{{task.id}}', 'data-toggle': 'dropdown'}
                %span.glyphicon.glyphicon-move
                %span.glyphicon.glyphicon-trash{id: 'del-task-{{task.id}}', ng: {click: 'deleteTask(task)'}}
                %ul.dropdown-menu
                  %datetimepicker{ng: {model: 'task.due_date'}, 'on-set-time': 'setDue(task)', datetimepicker: {config: "{ dropdownSelector: '#due-task-{{task.id}}', minView: 'day' }"}}
  %add-project
