.col-md-6.col-md-offset-3
  .div{ui: {sortable: 'sortableOptions'}, ng: {model: 'projects'}}
    .panel.panel-primary{ng: {repeat: 'project in projects'}}
      .panel-heading{id: 'project-{{project.id}}', ng: {mouseover: 'optionsProject = true', mouseleave: 'optionsProject = false'}}
        .panel-title.pull-left
          %span.glyphicon.glyphicon-calendar
          %span.view{ng: {dblclick: 'projectEdit()'}}
            {{project.title}}
          %input.edit{id: 'edit-project', type: 'text', ng: {model: 'project.title', keyup: 'editProjectOnEnter(project)'}}
        .pull-right.project-options{ng: {show: 'optionsProject'}}
          %span.glyphicon.glyphicon-pencil{id: 'edit-project-{{project.id}}', ng: {click: 'toggleProjectEdit()'}}
          %span.glyphicon.glyphicon-move
          %span.glyphicon.glyphicon-trash{id: 'del-project-{{project.id}}', ng: {click: 'deleteProject(project.id)'}}
      .new-task{ng: {class: "{'empty-project':project.tasks.length == 0}"}}
        %form{name: 'taskForm', ng: {controller: 'TaskController as taskCtrl', submit: 'taskForm.$valid && submitTask(project.id)'}, novalidate: true}
          .input-group.input-group-sm
            %input.form-control{id: 'new-task', type: 'text', placeholder: 'Start typing here to create a task...', ng: {model: 'taskData.title'}, required: true}
            .input-group-btn
              %button.btn.btn-success Add task
      %table.table{ng: {controller: 'TaskController as taskCtrl'}}
        %tbody
          %tr{id: 'task-{{task.id}}', ng: {repeat: "task in project.tasks | orderBy: ['complete', '-id']", mouseover: 'optionsTask = true', mouseleave: 'optionsTask = false'}}
            %td.complete
              %input{type: 'checkbox', ng: {model: 'task.complete', click: 'updateTask(task)'}}
            %td.task-title
              %div
                %span.view{ng: {dblclick: 'taskEdit()'}} {{task.title}} {{(task.due_date|date:'yyyy-MM-dd')}}
                %input.edit{id: 'edit-task', type: 'text', ng: {model: 'task.title', keyup: 'editTaskOnEnter(task)'}}
            %td.options-task
              %div.dropdown{ng: {show: 'optionsTask'}}
                %span.glyphicon.glyphicon-pencil{id: 'edit-task-{{task.id}}', ng: {click: 'toggleTaskEdit()'}}
                %span.glyphicon.glyphicon-time.dropdown-toggle{id: 'due-task-{{task.id}}', 'data-toggle': 'dropdown'}
                %span.glyphicon.glyphicon-move
                %span.glyphicon.glyphicon-trash{id: 'del-task-{{task.id}}', ng: {click: 'deleteTask(task)'}}
                %ul.dropdown-menu
                  %datetimepicker{ng: {model: 'task.due_date'}, 'on-set-time': 'setDue(task)', datetimepicker: {config: "{ dropdownSelector: '#due-task-{{task.id}}', minView: 'day' }"}}
  .text-center
    %button.btn.btn-lg.btn-primary#new-project{ng: {click: 'isVisible = true', hide: 'isVisible'}}
      %span.glyphicon.glyphicon-plus
      Add TODO List
  %form{name: 'projectForm', ng: {submit: 'projectForm.$valid && submitProject()'}}
    .input-group{ng: {show: 'isVisible'}}
      %input.form-control{type: 'text', placeholder: 'Add a new project', ng: {model: 'projectData.title'}, required: true}
      .input-group-btn
        %button.btn.btn-primary{ng: {click: 'isVisible = false', disabled: 'projectForm.$invalid'}} Add project

