@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: #ba680f asset-url('background.png') repeat-x 0 0;
  padding-bottom: 30px;
}

h1 {
  text-align: center;
  margin: 60px 0 40px 0;
  font-size: 28px;
  text-transform: uppercase;
  text-shadow: 1px 1px #fff;
  font-weight: bold;
  small {
    color: #000;
  }
}

h2 {
  text-align: center;
}

.complete-true {
  text-decoration: line-through;
  color: grey;
}

.complete-false {
  text-decoration: underline;
  color: red;
}

.complete {
  width: 40px;
  text-align: center;
  border-right: double 4px #efdadf;
}

.project-options {
  color: #98b0d2;
  .glyphicon {
    cursor: pointer;
    margin-left: 5px;
  }
  .glyphicon-move {
    cursor: move;
  }
}

.options-task {
  color: #999;
  width: 100px;
  text-align: right;
  font-size: 13px;
  .glyphicon {
    cursor: pointer;
    margin-left: 5px;
  }
  .glyphicon-move {
    cursor: move;
  }
}

.view {
  cursor: text;
}

.edit {
  display: none;
}

div.editing {
  .view {
    display: none;
  }
  input {
    width: 80%;
  }
  .edit {
    color: #999;
    display: inline;
  }
}

.panel {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .panel-heading {
    border-radius: 0;
    background: asset-url('bg-project-head.png') repeat-x 0 0;
    height: 45px;
    vertical-align: center;
    padding-top: 12px;
  }
  .new-task {
    height: 49px;
    padding: 10px;
    background: asset-url('bg-task-form.png') repeat-x 0 0;
    .btn-success {
      width: 90px;
    }
  }
}

form .task-input {
  margin-bottom: 0px;
}

.table {
  tr {
    &:hover {
      background-color: #fcfed5;
    }
  }
}

.panel > .table:last-child > tbody:last-child > tr:last-child > td:first-child {
  border-bottom-left-radius: 10px;
}

.panel > .table:last-child > tbody:last-child > tr:last-child > td:last-child {
  border-bottom-right-radius: 10px;
}

.btn-lg {
  border-radius: 3px;
  height: 46px;
  background: asset-url('bg-project-btn.png') repeat-x 0 0;
}

.btn-success {
  background: asset-url('bg-task-btn.png') repeat-x 0 0;
}

.nav li > a:hover,
.nav li > a:focus {
  background-color: transparent;
}

.copyright {
  color: #fff;
  margin-top: 20px;
}
